<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.serviceModel>
        <services>
            <service name="System.Web.ApplicationServices.AuthenticationService"
           behaviorConfiguration="AuthenticationServiceBehaviors">
                <endpoint contract="System.Web.ApplicationServices.AuthenticationService"
                    binding="basicHttpBinding" />
            </service>
            <service name="Wp7AspNetMembership.HelloService"
                behaviorConfiguration="AuthenticationServiceBehaviors">
                <endpoint
                    contract="Wp7AspNetMembership.IHelloService"
                    binding="basicHttpBinding"/>
            </service>
        </services>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <behaviors>
            <serviceBehaviors>
                <behavior name="AuthenticationServiceBehaviors">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>

    <system.web.extensions>
        <scripting>
            <webServices>
                <authenticationService enabled="true" requireSSL="false"/>
            </webServices>
        </scripting>
    </system.web.extensions>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
